{% extends 'views/admin/layout.html.twig' %}

{% block body %}
    <div class="content">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Editer l'utilisateur {{ user.username }}
                    {% for roles in user.roles %}
                        {% if roles == "ROLE_ADMIN" %}
                            <span class="badge badge-warning">Administrateur</span>
                        {% endif %}
                        {% if roles == "ROLE_SUPER_ADMIN" %}
                            <span class="badge badge-danger">Super Administrateur</span>
                        {% endif %}
                    {% endfor %}
                </h3>
            </div>
            <div class="block-content">
                <div class="row justify-content-center">
                    <div class="col-md-10 col-lg-8">
                        {{ form_start(form,{'attr': {'id': 'user'}}) }}
                        <div class="form-row">
                            <div class="col-sm-6 mb-3">
                                <label>Nom d'utilisateur</label>
                                {{ form_widget(form.username) }}
                                {{ form_errors(form.username) }}
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label>Mot de passe</label>
                                {{ form_widget(form.plainPassword) }}
                                {{ form_errors(form.plainPassword) }}
                            </div>
                            <div class="col-sm-12 mb-3">
                                <label>Grade</label>
                                {{ form_widget(form.roles) }}
                                {{ form_errors(form.roles) }}
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label>Actif</label>
                                {{ form_widget(form.active) }}
                                {{ form_errors(form.active) }}
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label>Supprimé le</label>
                                <input type="text" disabled class="form-control"
                                       value="{{ user.deleteAt ? user.deleteAt|date('d/m/Y h:i') : 'Jamais' }}">
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label>Créée le</label>
                                <input type="text" disabled class="form-control"
                                       value="{{ user.createdAt|date('d/m/Y h:i') }}">
                            </div>
                            <div class="col-sm-6 mb-3">
                                <label>Modifié le</label>
                                <input type="text" disabled class="form-control"
                                       value="{{ user.updatedAt ? user.updatedAt|date('d/m/Y h:i') : 'Jamais' }}">
                            </div>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-alt-primary">Mettre à jour</button>
                        </div>
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
