{% extends 'views/admin/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/js/plugins/datatables/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/js/plugins/datatables/buttons-bs4/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Utilisateur {{ user.username }}
                    {% for roles in user.textRoles %}
                        {% if roles == "Membre" %}
                            <span class="badge badge-primary">Membre</span>
                        {% endif %}
                        {% if roles == "Tipsteur" %}
                            <span class="badge badge-success">Tipsteur</span>
                        {% endif %}
                        {% if roles == "Moderateur" %}
                            <span class="badge badge-warning">Modérateur</span>
                        {% endif %}
                        {% if roles == "Admin" %}
                            <span class="badge badge-danger">Admin</span>
                        {% endif %}
                    {% endfor %}
                </h3>
                <div class="block-options">
                    <a href="{{ path('user_edit', {'id': user.id}) }}">
                        <button class="btn btn-sm btn-warning">
                            <i class="fa fa-pen"></i> Editer
                        </button>
                    </a>
                </div>
            </div>
            <div class="block-content">
                <h2 class="content-heading pt-0">Informations générales</h2>
                <div class="row-push">
                    <div class="form-row">
                        <div class="col-sm-12 mb-3">
                            <label>Nom d'utilisateur</label>
                            <input type="text" disabled class="form-control" value="{{ user.username }}">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Email</label>
                            <input type="text" disabled class="form-control" value="{{ user.email }}">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Discord</label>
                            <input type="text" disabled class="form-control" value="{{ user.discordId }}">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Banni</label>
                            <input type="text" disabled class="form-control"
                                   value="{{ user.active ? 'Non' : 'Oui' }}">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Abonné jusqu'au</label>
                            <input type="text" disabled class="form-control"
                                   value="{{ user.expire|date('d/m/Y h:i') }}">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Inscription</label>
                            <input type="text" disabled class="form-control"
                                   value="{{ user.registerAt|date('d/m/Y h:i') }}">
                        </div>
                        <div class="col-sm-6 mb-3">
                            <label>Dernière connexion</label>
                            <input type="text" disabled class="form-control"
                                   value="{{ user.lastConnection|date('d/m/Y h:i') }}">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block block-rounded">
            <div class="block-content">
                <h2 class="content-heading pt-0">Abonnements</h2>
                <div class="row-push">
                    <div class="table-responsive">
                        <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                            <thead>
                            <tr>
                                <th>Abonnement</th>
                                <th>Prix</th>
                                <th>Etat</th>
                                <th>Moyen de paiement</th>
                                <th>Date d'achat</th>
                                <th>Durée</th>
                                <th>Numéro de transaction</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for sub in user.userSubscriptions %}
                                <tr>
                                    <td>{{ sub.name }}</td>
                                    <td>{{ sub.price }}€</td>
                                    <td>
                                        {% if sub.payment.state == 0 %}
                                            <span class="badge badge-danger">Impayé</span>
                                        {% elseif sub.payment.state == 1 %}
                                            <span class="badge badge-success">Payé</span>
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if sub.payment.type == "paypal" %}
                                            <i class="fab fa-paypal"></i>
                                        {% elseif sub.payment.type == "stripe" %}
                                            <i class="fa fa-credit-card"></i>
                                        {% endif %}
                                    </td>
                                    <td>{{ sub.createdAt ? sub.createdAt|date('Y-m-d H:i:s') }}</td>
                                    <td>{{ sub.duration }} jour(s)</td>
                                    <td>{{ sub.payment.tId }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('admin/js/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('admin/js/pages/datatables.js') }}"></script>

{% endblock %}
