<footer id="footer" role="contentinfo">
    <div class="flex conteneur">
        <section class="col-4">
            <a href="https://www.defense.gouv.fr/" rel="noopener noreferrer" target="_blank" title="Logo Ministère des Armées - [Ouvrir dans une nouvelle fenêtre]">
                <img src="{{ asset('assets/images/logo_ministere_black.svg') }}" alt="Logo Ministère des Armées" id="mda_logo1">
                <img src="{{ asset('assets/images/logo_ministere_white.svg') }}" alt="Mogo Ministère des Armées" id="mda_logo2">
            </a>
            <br><br>
            <div class="flex rs_svg">
                <div class="col-5">
                    <a href="https://www.linkedin.com/company/civils-de-la-d%C3%A9fense/" title="Linkedin - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer" target="_blank">
                        <img src="{{ asset('assets/images/rs/linkedin_blue.svg') }}" alt="Ministère des Armées - Linkedin" class="rs1">
                        <img src="{{ asset('assets/images/rs/linkedin_white.svg') }}" alt="Ministère des Armées - Linkedin" class="rs2">
                    </a>
                </div>

                <div class="col-5">
                    <a href="https://twitter.com/armees_gouv?lang=fr" title="Twitter - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer" target="_blank">
                        <img src="{{ asset('assets/images/rs/twitter_blue.svg') }}" alt="Ministère des Armées - Twitter" class="rs1">
                        <img src="{{ asset('assets/images/rs/twitter_white.svg') }}" alt="Ministère des Armées - Twitter" class="rs2"></a>
                </div>
                <div class="col-5">
                    <a href="https://www.youtube.com/user/ministeredeladefense" title="Youtube - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer" target="_blank">
                        <img src="{{ asset('assets/images/rs/youtube_blue.svg') }}" alt="Ministère des Armées - Youtube" class="rs1">
                        <img src="{{ asset('assets/images/rs/youtube_white.svg') }}" alt="Ministère des Armées - Youtube" class="rs2">
                    </a>
                </div>
                <div class="col-5">
                    <a href="https://www.instagram.com/armees_gouv/" title="Instagram - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer" target="_blank">
                        <img src="{{ asset('assets/images/rs/instagram_blue.svg') }}" alt="Ministère des Armées - Instagram" class="rs1">
                        <img src="{{ asset('assets/images/rs/instagram_white.svg') }}" alt="Ministère des Armées - Instagram" class="rs2">
                    </a>
                </div>
                <div class="col-5">
                    <a href="https://www.facebook.com/Armees.Gouv" title="Facebook - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer" target="_blank">
                        <img src="{{ asset('assets/images/rs/facebook_blue.svg') }}" alt="Ministère des Armées - Facebook" class="rs1">
                        <img src="{{ asset('assets/images/rs/facebook_white.svg') }}" alt="Ministère des Armées - Facebook" class="rs2">
                    </a>
                </div>
            </div>
        </section>
        <section class="col-4"><p>Plan du site</p>
            <ul>
                <li><a href="/#home">Civils de la Défense</a></li>
                <li><a href="/#rejoindre">Pourquoi nous rejoindre</a></li>
                <li><a href="/metiers">Nos Métiers</a></li>
                <li><a href="/recrutement#recrutement-offre">Recrutement</a></li>
                <li><a title="Contact" class="btn-unfilled" href="/contact">Contact</a></li>
            </ul>
        </section>
        <section class="col-4"><p>Mentions légales</p>
            <ul>
                <li><a href="/accessibilite">Accessibilité</a></li>
                <li><a title="Conditions générales d'utilisation" class="btn-unfilled" href="/cgu">Conditions
                        générales d'utilisation</a></li>
                <li>
                    <button id="Dyslexique">Mode lecture Dyslexique</button>
                </li>
            </ul>
        </section>
        <section class="col-4"><p>Réseau</p>
            <ul>
                <li><a href="https://www.defense.gouv.fr/"
                       title="defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer"
                       target="_blank">Ministère des Armées</a></li>
                <li><a href="https://sengager.fr" title="sengager.fr - [Ouvrir dans une nouvelle fenêtre]"
                       rel="noopener noreferrer" target="_blank">Armée de Terre</a></li>
                <li><a href="https://etremarin.fr" title="etremarin.fr - [Ouvrir dans une nouvelle fenêtre]"
                       rel="noopener noreferrer" target="_blank">Marine Nationale</a></li>
                <li><a href="https://devenir-aviateur.fr"
                       title="devenir-aviateur.fr - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer"
                       target="_blank">Armée de l’Air et de l'espace</a></li>
                <li><a href="https://www.defense.gouv.fr/dga"
                       title="DGA - Direction générale de l'armement - [Ouvrir dans une nouvelle fenêtre]"
                       rel="noopener noreferrer" target="_blank">Direction générale de l'armement</a></li>
            </ul>
            <br>
            <p>Recrutement Civils</p>
            <ul>
                <li><a href="https://contractuels.civils.defense.gouv.fr/"
                       title="contractuels.civils.defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]"
                       rel="noopener noreferrer" target="_blank">Agents contractuels</a></li>
                <li><a href="https://place-emploi-public.gouv.fr"
                       title="place-emploi-public.gouv.fr - [Ouvrir dans une nouvelle fenêtre]"
                       rel="noopener noreferrer" target="_blank">Place de l’emploi public</a></li>
                <li><a href="https://stages.defense.gouv.fr"
                       title="stages.defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]" rel="noopener noreferrer"
                       target="_blank">Stage / Apprentissage / Contrat Armées-Jeunesse</a></li>
            </ul>
        </section>
    </div>
    <br>
    <p>Ministère des Armées | Tous droits réservés
        <time datetime="1616015943558">2021</time>
    </p>
</footer>
