<header role="banner">
    <div class="flex conteneur">
        <div class="col-l1">
            <a href="https://www.defense.gouv.fr/" title="defense.gouv.fr - [Ouvrir dans une nouvelle fenêtre]"
               rel="noopener noreferrer" target="_blank">
                <img src="{{ asset('assets/images/logo_ministere_black.svg') }}" alt="Logo Ministère des Armées"
                     id="mda_logo1">
                <img src="{{ asset('assets/images/logo_ministere_white.svg') }}" alt="Mogo Ministère des Armées"
                     id="mda_logo2">
            </a>
        </div>
        <nav class="col-r" role="navigation">
            <ul class="mb-0 d-table">
                <li style="display: inline-grid"><a href="{{ path('home') }}">Accueil</a></li>
                <li style="display: inline-grid"><a href="{{ path('chatbot') }}">Trouver mon dispositif</a></li>
                <li style="display: inline-grid"><a href="{{ path('dispositif_formation') }}">Les différents dispositifs de formation</a></li>
                <li style="display: inline-grid"><a href="">Le catalogue de formation</a></li>
                <li style="display: inline-grid"><a href="{{ path('devenir_formateur_interne') }}">Devenir formateur interne</a></li>
                <li style="display: inline-grid"><a href="">Annuaire</a></li>
                <li style="display: inline-grid"><a href="{{ path('ressources_reglementaires') }}">Les ressources réglementaires</a></li>
            </ul>
        </nav>
    </div>
</header>
