{% extends 'views/admin/layout.html.twig' %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('admin/js/plugins/datatables/dataTables.bootstrap4.css') }}">
    <link rel="stylesheet" href="{{ asset('admin/js/plugins/datatables/buttons-bs4/buttons.bootstrap4.min.css') }}">
{% endblock %}

{% block body %}
    <div class="content">
        <div class="block block-rounded">
            <div class="block-header block-header-default">
                <h3 class="block-title">Liste des pages</h3>
            </div>
            <div class="block-content block-content-full">
                <table class="table table-bordered table-striped table-vcenter js-dataTable-full">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Titre</th>
                        <th>Type</th>
                        <th>Créée le</th>
                        <th>Mise à jour le</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for page in pages %}
                        <tr id="user{{ page.id }}">
                            <td>{{ page.name }}</td>
                            <td>{{ page.title }}</td>
                            <td>{{ page.type }}</td>
                            <td>{{ page.createdAt|date('Y-m-d H:i:s') }}</td>
                            <td>{{ page.updatedAt ? page.updatedAt|date('Y-m-d H:i:s') : 'Jamais' }}</td>
                            <td>
                                <a data-toggle="tooltip" data-placement="top" title="Voir" class="btn btn-small btn-primary" href="{{ path('page_show', {'id': page.id}) }}"><i class="fa fa-eye"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Editer" class="btn btn-small btn-warning" href="{{ path('page_edit', {'id': page.id}) }}"><i class="fa fa-pen"></i></a>
                                <a data-toggle="tooltip" data-placement="top" title="Supprimer" class="btn btn-small btn-danger" href="{{ path('page_delete', {'id': page.id}) }}"><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}

    <script src="{{ asset('admin/js/plugins/datatables/jquery.dataTables.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/dataTables.bootstrap4.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/dataTables.buttons.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/buttons.print.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/buttons.html5.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/buttons.flash.min.js') }}"></script>
    <script src="{{ asset('admin/js/plugins/datatables/buttons/buttons.colVis.min.js') }}"></script>
    <script src="{{ asset('admin/js/pages/datatables.js') }}"></script>

{% endblock %}
