{% set route_name = app.request.attributes.get('_route') %}

<nav id="sidebar" aria-label="Main Navigation">
    <div class="bg-header-dark">
        <div class="content-header bg-white-10">
            <a class="font-w600 text-white tracking-wide" href="{{ path('admin_dashboard') }}">
                <span class="smini-visible">
                    D<span class="opacity-75">A</span>
                </span>
                <span class="smini-hidden">
                    Dashboard<span class="opacity-75"> Admin</span>
                </span>
            </a>
        </div>
    </div>

    <div class="js-sidebar-scroll">
        <div class="content-side">
            <ul class="nav-main">
                <li class="nav-main-item">
                    <a class="nav-main-link {% if route_name == 'admin_dashboard' %}active{% endif %}" href="{{ path('admin_dashboard') }}">
                        <i class="nav-main-link-icon fa fa-location-arrow"></i>
                        <span class="nav-main-link-name">Dashboard</span>
                    </a>
                </li>

                <li class="nav-main-item {% if (route_name == 'user_list') or (route_name == 'user_new') or (route_name == 'user_edit') %}open{% endif %}">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="nav-main-link-icon fa fa-users"></i>
                        <span class="nav-main-link-name">Utilisateurs</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'user_list' %}active{% endif %}" href="{{ path('user_list') }}">
                                <span class="nav-main-link-name">Liste</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'route_name' %}active{% endif %}" href="{{ path('user_new') }}">
                                <span class="nav-main-link-name">Ajouter</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-main-item {% if (route_name == 'page_list') or (route_name == 'page_new') or (route_name == 'page_edit') %}open{% endif %}">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="nav-main-link-icon fa fa-users"></i>
                        <span class="nav-main-link-name">Pages</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'page_list' %}active{% endif %}" href="{{ path('page_list') }}">
                                <span class="nav-main-link-name">Liste</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'page_new' %}active{% endif %}" href="{{ path('page_new') }}">
                                <span class="nav-main-link-name">Ajouter</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-main-item {% if (route_name == 'annuaire_list') or (route_name == 'annuaire_new') or (route_name == 'annuaire_edit') %}open{% endif %}">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="nav-main-link-icon fa fa-users"></i>
                        <span class="nav-main-link-name">Annuaire</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'annuaire_list' %}active{% endif %}" href="{{ path('annuaire_list') }}">
                                <span class="nav-main-link-name">Lister les formateurs</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'annuaire_new' %}active{% endif %}" href="{{ path('annuaire_new') }}">
                                <span class="nav-main-link-name">Ajouter un formateur</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'annuaire_region_list' %}active{% endif %}" href="{{ path('annuaire_region_list') }}">
                                <span class="nav-main-link-name">Lister les régions</span>
                            </a>
                        </li>
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'annuaire_region_new' %}active{% endif %}" href="{{ path('annuaire_region_new') }}">
                                <span class="nav-main-link-name">Ajouter une région</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li class="nav-main-item {% if (route_name == 'chatbot_view') %}open{% endif %}">
                    <a class="nav-main-link nav-main-link-submenu" data-toggle="submenu" aria-haspopup="true" aria-expanded="true" href="#">
                        <i class="nav-main-link-icon fa fa-users"></i>
                        <span class="nav-main-link-name">Chatbot</span>
                    </a>
                    <ul class="nav-main-submenu">
                        <li class="nav-main-item">
                            <a class="nav-main-link {% if route_name == 'chatbot_view' %}active{% endif %}" href="{{ path('chatbot_view') }}">
                                <span class="nav-main-link-name">Gérer</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>
