<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Dashboard</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">

    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" href="">
    <link rel="icon" type="image/png" sizes="192x192" href="">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="{{ asset('admin/css/dashmix.min.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    {% block stylesheets %}
    {% endblock %}
</head>
<body>

<div id="page-container" class="sidebar-o sidebar-dark enable-page-overlay side-scroll page-header-fixed main-content-narrow">

    {% include 'views/admin/_navbar.html.twig' %}

    {% include 'views/admin/_header.html.twig' %}

    <main id="main-container">

        {% block body %}

        {% endblock %}

    </main>

    {% include 'views/admin/_footer.html.twig' %}
</div>

<script src="{{ asset('admin/js/dashmix.core.min.js') }}"></script>
<script src="{{ asset('admin/js/dashmix.app.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

{% for message in app.flashes('success') %}
    <script>
        toastr.success('{{ message }}', 'Succès', true);
    </script>
{% endfor %}
{% for message in app.flashes('error') %}
    <script>
        toastr.error('{{ message }}', 'Erreur', true);
    </script>
{% endfor %}

{% block javascripts %}
{% endblock %}

</body>
</html>
