{% extends 'views/public/layout.html.twig' %}
{% block body %}
    <style>
        .bgimg-1 {
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
        }

        .bgimg-1 {
            background-image: url("{{ asset('assets/images/banner_home.png') }}");
            height: 60vh;
            width: 100%;
        }

        .caption {
            position: absolute;
            width: 100%;
            padding: 50px;
            color: #fff;
            top: 15%;
        }


        .trait {
            width: 15%;
            height: 6px;
            margin-bottom: 60px;
            background-color: #000091;
        }

        .button-disposistif {
            background-color: #E1000F;
            color: #fff;
            padding: 10px 50px;
            border: unset;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            transition: 0.3s;
        }

        .button-disposistif:hover {
            background-color: #fff;
            box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
            color: #E1000F;
        }

        .button-finish {
            text-align: center;
            background-color: #000091;
            color: #fff;
            padding: 10px 30px;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            border: unset;
        }

        .custom-text {
            font-size: 22px;
            font-family: 'MarianneRegular', serif;
            text-align: left;
        }

        .img-50 {
            max-width: 75px;
        }

        .custom-link {
            color: white;
        }

        .custom-link:hover {
            color: white;
            text-decoration: underline !important;
        }
    </style>
    <main role="main">
        <section style="padding-top: 10%;padding-bottom: 5%">
            <div class="container">
                <div class="row">
                    <div class="col-md-5 align-self-center">
                        <h3 class="mb-4" style="color: #000091;
                            font-size: 37px;word-spacing: 0.1rem;text-align: left;">Trouvez la formation qui vous
                            correspond et répond à vos besoins !</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
                            laboris nisi ut aliquip ex ea commodo consequat.</p>
                        <button class="button-disposistif">Trouver mon dispositif</button>
                    </div>
                    <div class="col-md-7">
                        <img src="{{ asset('assets/images/illustration.png') }}" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-12 p-0 mt-5">
                <div class="bgimg-1 mb-5">
                    <div class="caption">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-6 text-center mb-5">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ asset('assets/images/home/Picto_trouver.svg') }}"
                                                 class="img-50" alt="">
                                        </div>
                                        <div class="col-md-10 align-self-center custom-text">
                                            <a class="custom-link" href="{{ path('chatbot') }}">
                                                Trouver mon dispositif
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center mb-5">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ asset('assets/images/home/Picto_formation.svg') }}"
                                                 class="img-50" alt="">
                                        </div>
                                        <div class="col-md-10 align-self-center custom-text">
                                            <a class="custom-link" href="{{ path('dispositif_formation') }}">
                                                Les différents dispositifs de formation
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center mb-5">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ asset('assets/images/home/Picto_catalogue.svg') }}"
                                                 class="img-50" alt="">
                                        </div>
                                        <div class="col-md-10 align-self-center custom-text">
                                            <a class="custom-link" href="#">
                                                Le catalogue de formation
                                            </a>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-md-6 text-center mb-5">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ asset('assets/images/home/Picto_Devenirformateur.svg') }}"
                                                 class="img-50" alt="">
                                        </div>
                                        <div class="col-md-10 align-self-center custom-text">
                                            <a class="custom-link" href="{{ path('devenir_formateur_interne') }}">
                                                Devenir formateur interne
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center mb-5">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ asset('assets/images/home/Picto_annuaire.svg') }}"
                                                 class="img-50" alt="">
                                        </div>

                                        <div class="col-md-10 align-self-center custom-text">
                                            <a class="custom-link" href="#">
                                                Annuaire
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6 text-center">
                                    <div class="row">
                                        <div class="col-md-2">
                                            <img src="{{ asset('assets/images/home/Picto_Ressources.svg') }}"
                                                 class="img-50" alt="">
                                        </div>

                                        <div class="col-md-10 align-self-center custom-text">
                                            <a class="custom-link" href="{{ path('ressources_reglementaires') }}">Les ressources
                                                réglementaires</a>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h6 class="last-articles text-left mb-3" style="color: #000091;font-size: 35px">Actualités</h6>
                <div class="trait"></div>
                <div class="row">
                    {% for article in articles %}
                        {% include 'public/article/_articleBlock.html.twig' %}
                    {% endfor %}
                </div>
                <div class="text-center">
                    <a href="{{ path('list_article') }}">
                        <button class="button-finish">Toutes les actualités</button>
                    </a>
                </div>
            </div>

        </section>
    </main>
{% endblock %}
