<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <title>Dashboard</title>

    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="robots" content="noindex, nofollow">

    <meta property="og:title" content="">
    <meta property="og:site_name" content="">
    <meta property="og:description" content="">
    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:image" content="">

    <link rel="shortcut icon" href="">
    <link rel="icon" type="image/png" sizes="192x192" href="">
    <link rel="apple-touch-icon" sizes="180x180" href="">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap">
    <link rel="stylesheet" href="{{ asset('admin/css/dashmix.min.css') }}">
    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
</head>
<body>

<div id="page-container">

    <main id="main-container">
        <div class="row no-gutters justify-content-center bg-body-dark">
            <div class="hero-static col-sm-10 col-md-8 col-xl-6 d-flex align-items-center p-2 px-sm-0">
                <div class="block block-rounded block-transparent block-fx-pop w-100 mb-0 overflow-hidden bg-image" style="background-image: url('assets/media/photos/photo20@2x.jpg');">
                    <div class="row no-gutters">
                        <div class="col-md-6 order-md-1 bg-white">
                            <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                                <div class="mb-2 text-center">
                                    <a class="link-fx font-w700 font-size-h1" href="index.html">
                                        <span class="text-dark">Lorem </span><span class="text-primary">Lorem </span>
                                    </a>
                                    <p class="text-uppercase font-w700 font-size-sm text-muted">Connexion</p>
                                </div>
                                <form method="post">
                                    {% if error is not null %}
                                            <div class="alert alert-danger">
                                                <i class="fas fa-exclamation-triangle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}
                                            </div>
                                    {% endif %}
                                    <div class="form-group">
                                        <input type="text" class="form-control form-control-alt" name="username" placeholder="Utilisateur" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-alt" name="password" placeholder="Mot de passe" required>
                                    </div>
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                                    <div class="form-group">
                                        <button type="submit" class="btn btn-block btn-hero-primary">
                                            <i class="fa fa-fw fa-sign-in-alt mr-1"></i> Connexion
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-6 order-md-0 bg-primary-dark-op d-flex align-items-center">
                            <div class="block-content block-content-full px-lg-5 py-md-5 py-lg-6">
                                <div class="media">
                                    <a class="img-link mr-3" href="javascript:void(0)">
                                        <img class="img-avatar img-avatar-thumb" src="assets/media/avatars/avatar16.jpg" alt="">
                                    </a>
                                    <div class="media-body">
                                        <p class="text-white font-w600 mb-1">
                                            Amazing framework with tons of options! It helped us build our project!
                                        </p>
                                        <a class="text-white-75 font-w600" href="javascript:void(0)">Scott Young, Web Developer</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<script src="{{ asset('admin/js/dashmix.core.min.js') }}"></script>
<script src="{{ asset('admin/js/dashmix.app.min.js') }}"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

{% for message in app.flashes('success') %}
    <script>
        toastr.success('{{ message }}', 'Succès', true);
    </script>
{% endfor %}
{% for message in app.flashes('error') %}
    <script>
        toastr.error('{{ message }}', 'Erreur', true);
    </script>
{% endfor %}

{% block javascripts %}
{% endblock %}

</body>
</html>
